@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-family: "Ubuntu", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--theme);
  }

  :root {
    --theme: #0284c7;
    --theme-hover: #38bdf8;
    --border: #3d3c41;
    --background-primary: #252429;
    --background-secondary: #1a191e;
    --background-skeleton: #262626;
    --background-card: #2a2a2a;
    --font-primary: #fff;
    --font-secondary: #b0b0b0;
    --error: #dc2626;
  }

  img {
    image-rendering: pixelated;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
